[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
"bs4" = "*"
spotipy = "*"
colorama = "*"
pprint = "*"
rope = "*"
"flake8" = "*"

[dev-packages]
black = "==18.9b0"
pytest = "*"

[requires]
python_version = "3.6"
